<div class="jumbotron">
  <h1>Add your reservations to microsoft calendar</h1>
  <div *ngIf="authenticated; then welcomeUser else signInPrompt"></div>
  <ng-template #welcomeUser>
    <h4>Welcome {{ user.email }}!</h4>
    <button class="btn btn-primary btn-large mr-2" role="button" [routerLink]="['/calendar']" >Calendar</button>
    <button class="btn btn-danger btn-large" role="button" (click)="signOut()">Sign out from Microsoft</button>
  </ng-template>
  <ng-template #signInPrompt>
    <button class="btn btn-primary btn-large" role="button" (click)="signIn()">Click here to sign in your microsoft account</button>
  </ng-template>
  
</div>