<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h1>Welcome in the Wedding Application!</h1>
    <p class="lead">Find a place for your dreamed wedding and people who help you to organise a perfect wedding party! </p>
    <div *ngIf="authService.decodedToken; else elseBlock" >
      <p class="lead">You're already signed. Enjoy the app! </p>
    </div>
    <ng-template #elseBlock>
      <p class="lead">Register or sign up in the navigation bar. </p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()">Register</button>
    </div>
    </ng-template>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
          <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
      </div>
    </div>
  </div>
</div>
